.root {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  width: 100%;
  max-width: 900px;
  height: 100vh;
}

.tabContent {
  height: 100%;
  max-height: 600px;
  border: 1px solid #ccc;
  padding: 1rem;
}

.applyButton {
  align-self: flex-end;
  border: none;
  background-color: #35b746;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
}

.applyButton:hover {
  background-color: #52ce62;
}

.applyButton[disabled] {
  color: #999;
  background-color: #ccc;
}
